body {
    background: #222222;
    color: #d1d0ca;
    font-family: Helvetica;
    margin: 0;
}

header {
    width: 100%;
    height: 50px;
    background-color: #222222;
    display: flex;
}
h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
}

h2 {
  border-bottom: 4px solid #f1be32;
}

h1, h2 {
    font-family: Verdana, Tahoma;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

nav > ul > li {
    color: #d1d0ca;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    color: #222222;
    background-color: #d1d0ca;
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

p::before {
    content: "Question #";
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#logo {
    width: max(100px, 18vw);
    background-color: #222222;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}